body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 97.4%; 
    height: 100px; 
    background-color: #1b74bc; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}

.navbar a:hover {
    background-color: #575757; 
}


.navbar h2{
    font-weight: 400;
    font-size: 26px;
    color: #ffffff;
    font-family: sans-serif;
    float: left;
}


.navbar img{
    width: 10%;
    float: left;
}

.contenedor_imagen {
    border: 1px solid #ccc; 
    padding: 10px; 
    display: inline-block; 
    background-color: #ffffff;
    margin-left: 70px;
    margin-bottom: 100px;
    border-radius: 10%;
    
  }
  
.contenedor_imagen img {
    max-width: 100%; 
    height: auto; 
  }
  

p{
    font-family: Arial, sans-serif;
    font-size: 200%;
    text-align: center;
    margin: 0;
}




